/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.container {
    padding: 0 240px;
}

/* Navigation Part Style  */
.header {
    background-color: #FF900E1A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    color: #424242;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Part Section style  */
.banner {
    text-align: center;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    padding: 0 300px;
    margin-top: 116px;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 0 300px;
    margin-top: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.banner img {
    padding-bottom: 45px;
}

/* Features Part Section style  */
.features {
    margin-top: 85px;
}

.feature {
    display: grid;
    gap: 76px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-img {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-info {
    margin-top: 202px;
}

.feature-title {
    width: 468px;
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}

.feature-info,
.our {
    color: #131313;
    font-weight: 700;
}

.F-feature {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

/* About Section style  */
.abouts {
    margin-top: 85px;
}

.about {
    display: grid;
    gap: 146px;
    grid-template-columns: repeat(2, 1fr);
}

.about-title {
    width: 468px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-inline: 10px;
    margin-bottom: 24px;
}

.about-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.about-categories {
    display: grid;
    gap: 20px;
}

.categories {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.categories-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.categories-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* 
.btn-about {
    display: grid;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px 42px;
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    border: 0;
}

.btn-about span {
    font-size: 25px;
    font-weight: 500;
} */

/* Clients Section Style */
.clients {
    margin-top: 130px;
}

.clients-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.clients-description {
    width: 542px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 26px;
}

.clients-categories {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px;
}

.clients-category {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 35px 45px;
    text-align: center;
}

.clients-number {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.clients-category-description {
    font-size: 20px;
    font-weight: 600;
}

/* Our Sponspors Section Style  */
.sponspors {
    margin-top: 180px;
    text-align: center;
}

.sponspor-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponspor-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.sponspor-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Footer Part Style */
.footers{
    margin-top: 120px;
}
.footer {
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    margin-bottom: 100px;
    padding: 40px 0;
}

.footer-description {
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}